* {
  padding: 0; 
  margin:0;
  overflow-x :hidden; 
  box-sizing: border-box;
}

html {
  height: 100%;
  width:100%;
}

.cookie-header{
  text-align: center;
  font-style: italic;
  padding: 2.5rem;
}

.cookie-name{
  color: #000000;
  text-decoration: underline;
  font-style: italic;
}

.cookie-container{
  text-align: center;
}

ul{
  display: inline-block;
}

.cookie-card{
  background-color: #DFECEF;
  box-shadow: 2px 2px 5px;
  padding:1rem;
  text-align: center;
  border: 1px solid #DFECEF;
  min-height: 210px;
  max-width: 200px;
  width:100%;
}

.cookie-front{
  display: block;
}

.card-back{
  display: none;
}

.cookie-image{
  min-width: 100px;
  width: 100%;
}

.cookie-description{
  text-align: center;
  font-style: italic;
  font-size: 1.2rem;
}

button{
  border: none;
  background: none;
  font-size: 0.75rem;
  color: #555555;
  cursor: pointer;
}
