.hero {
  background-color: #F8F8F3;
  padding: 16px;
}

h1 {
  font-style: italic;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.container {
  padding: 40px 24px;
  color:#FFFFFF;
}

.badges-container {
  max-width: 360px;
  margin: 24px auto;
}

.badge {
  margin-right: 14px;
  max-width: 100px;
  min-width: 76px;
  width: 100%;
}

.sales-initiative {
  background-color: #C7742E; 
}

.sales-initiative .badge:nth-child(3n) {
    margin-right: 0;
}

.learning {
  background-color: #7A463B; 
}

.learning .badge {
    margin-bottom: 16px;
}

.shop-now-btn {
  text-align: center;
}

@media (min-width: 1100px) { 
  .hero {
    padding: 50px 0;
  }
  
  .badge {
    margin-right: 24px;
  }
}