.badges-container {
  max-width: 360px;
  margin: 0 auto;
  margin-top: 24px;
}

.hero{
  background-color: #F8F8F3;
  padding: 2rem;
}

.sales-initiative{
  padding: 1rem;
  background-color: #C7742E; 
}

.goals-header {
  color:#ffff;
  text-align: center;
}

.sales-bodycopy{
  color:#ffff;
  font-size: 1rem;
  text-align: center;
}

.sales-badges{
  padding: 1rem;
}

.badge {
    margin-right: 24px;
    margin-bottom: 24px;
    max-width: 100px;
    min-width: 76px;
    width: 100%;
}

.sales-badges .badge:last-of-type {
   margin-right: 0;
}

.learning-badges{
  padding: 1rem;
}

.learning {
  background-color: #7A463B; 
}

.learning-badges .badge:nth-child(2n) {
    margin-right: 0;
}