* {
  padding: 0; 
  margin:0;
  overflow-x :hidden; 
  box-sizing: border-box;
}

html {
  height: 100%;
  width:100%;
}


#hero-pic {
  background: url(Hero\ Background.jpg);
  background-size: cover;
  min-height:330px;
}

.hero-content{
  padding: 1rem;
  width:100%;
}

.hero{
  background-color: #F8F8F3;
}

h1{
  font-size: 36px;
  margin-top:0.5rem;
}

h2{
  font-size: 12px;
  color: #356E7A;
}

p{  
  margin-top:1.125rem;
  font-size: 16px;
  color:#7B7B7B;
}

#cookies{
  background-color: #C7742E; 
  padding: 1rem;
}

#cookieHeader{
  font-size: 18px;
  text-decoration-line: underline;
  color:white;
}

#cookiesSubheader{
  font-size: 14px;
  color:white;
}

#thinmint{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#aboutMe{
  padding: 1rem 2.5rem;
}

#aboutContent{
  margin-left: auto;
  margin-right: auto;
}

#aboutHeader{
  font-size: 18px;
}

#introText{
  font-size: 14px;
  color: #5C5C5C;
}

#profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers 
.aboutMe::after {
  content: "";
  clear: both;
  display: table;
}
*/
