.inner-wrap {
  /*max-width: 700px;*/
  margin: 0 auto 1.5rem;
  border: 2px solid blue;
}

.hero{
  background-color: #F8F8F3;
  border: 2px solid red;
}

.hero-pic {
  background: url('hero.jpg');
  background-size: cover;
  min-height:330px;
  height: 80vh;
  position: relative;
}

.hero-content{
  background-color: white;
  padding: 1rem;
  width:33%;
  position: absolute;
  bottom: 400px;
  left: 100px;
  border: 2px solid black;
}

.hero-copy{
  font-weight: 400;
  font-size: 18px;
  color: #5C5C5C;
  letter-spacing: -0.04em;
  margin-top:1.125rem;
}

.hero-btn-container .CTA-button{
  max-width: 225px;
}

.cookie{
  background-color: #C7742E; 
  padding: 5rem;
}

.cookie-content{
  border: 2px solid red;
}

.cookie-subcontainer{
  max-width: 530px;
  margin-right: 50px;
  border: 2px solid pink;
}

.cookie-subheader{
  color:#ffff;
  font-size: 32px;
  text-decoration-line: underline;
  overflow: hidden;
}

.cookie-bodycopy{
  font-size: 24px;
  color:#ffff;
  letter-spacing: -0.04em;
  margin-top: 3rem;
  margin-bottom: 3rem;
  overflow: hidden;
  border: 2px solid white;
}

.cookie-btn-container .CTA-button{
  max-width: 273px;
  width: 100%;
}

.thinmint-img{
  display: inline-block;
  max-width: 248px;
  width: 100%;
  height: 100%;
}


.about-me{
  margin-top: 2rem;
  padding: 3rem;
  width: 100%;
}

.about-me-subheader{
  font-size: 24px;
  overflow: hidden;
}

.about-me-content{
  padding: 1rem;
}

.about-me-content p{
  font-size: 1rem;
}

.profile{
  display: inline-block;
  max-width: 200px;
}

.intro-text{
  margin-top: 0;
}

.goal-text{
  margin-top: 1rem;
}


@media (max-width: 1099px) {
  .inner-wrap {
    max-width: 400px;
  }
  
  .hero-pic {
    position: static;
    height: 60vh;
  }

  .hero-content{
    position: static;
    width: 100%;
  }

  .hero-btn-container .CTA-button{
    max-width: 328px;
    display: block;
    margin: auto;
  }

  .about-me, .cookie{
    padding: 1rem;
  }

  .about-me-content p, .cookie-bodycopy, .hero-copy{
    font-size: 14px;
  }

  .thinmint-img{
    max-width: 142px;
  }
  
  .profile{
    max-width: 160px;
  }
  
}
