
* {
  padding: 0; 
  margin:0;
  overflow-x :hidden; 
  box-sizing: border-box;
}

html {
  height: 100%;
  width:100%;
}

.hero{
  background-color: #F8F8F3;
}

.hero-pic {
  background: url('hero.jpg');
  background-size: cover;
  min-height:330px;
}

.hero-content *{
  flex-basis: 100%;
}

.hero-content{
  padding: 1rem;
  width:100%;
}

h1{
  font-style: italic;
  font-weight: 900;
  font-size: 36px;
  color: #000000;
}



.hero-copy{
  font-weight: 400;
  font-size: 16px;
  color: #5C5C5C;
  letter-spacing: -0.04em;
  margin-top:1.125rem;
}

.cookie{
  background-color: #C7742E; 
}

.cookie-content{
  padding: 1rem;
}

.cookie-content *{
  flex-basis: 50%;
}

.cookie-subheader{
  color:#ffff;
}

.cookie-bodycopy{
  font-size: 14px;
  color:#ffff;
  letter-spacing: -0.04em;
  margin-top: 1rem;
}

.thinmint-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-me{
  margin-top: 2rem;
}

.about-me-content{
  padding: 1rem;
}

.about-me-content *{
  flex-basis: 50%;
}

.profile{
  height:10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro-text{
  margin-top: 0;
}

.goal-text{
  margin-top: 1rem;
}