header {
  position: sticky;
  top: 0;
  background-color: #356E7A;
  padding: 1rem;
  width: 100%;
}


a{
  text-decoration: none;
  color: #AED4DC;
  font-size: 20px;
}

.menu{
  display:block;
  cursor:pointer;
  background-color: #356E7A;
  border: none;
}


li{
  list-style-type: none;
}

.bar{
  display:block;
  width:25px;
  height:3px;
  margin:5px auto;
  background-color:white;
}

.hide {
  display: none;
}


.full-container{
  width:100%;
}

.wrap{
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

/*places text near bottom, vertical*/
.ai-fe{
  align-items:flex-end;
}

.ai-c{
  align-items:center;
}

.jc-se{
  justify-content: space-evenly;
}

.jc-sa{
  justify-content: space-around;
}
/*horizontal*/
.jc-sb{
  justify-content: space-between;
}

.centered-container{
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
}

.CTA-button{
    background-color: #EEDB76;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 328px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.button-text{
  color: #4C4B17;
}

.button:hover{
  background: #E6D57E;
}

.button:hover a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.button:hover::after {
  transform: scaleX(1);
}

footer{
  margin-top: 1rem;
  text-align: center;
  padding: 3px;
  background-color: #D9D9D9;
}