.cookie-header {
  text-align: center;
  font-style: italic;
  padding: 40px 16px;
  white-space: nowrap;
}

.cookie-container {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 16px 32px;
  text-align: center;
}

.cookie-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.cookie-card {
  background-color: transparent;
  width: 150px;
  height: 210px;
  perspective: 1000px;
  position: relative;
}


.cookie-card-ui {
  background-color: var(--clr-primary-ltr);
  border: 1px solid var(--clr-primary-ltr);
  box-shadow: 2px 2px 5px var(--clr-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cookie-card-ui.popular-cookie {
  background-color: var(--clr-primary-ltr);
  border: 1px solid var(--clr-primary-ltr);
  box-shadow: 2px 2px 5px var(--clr-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cookie-card-ui.popular-cookie::before {
  content: "Popular";
  background-color: var(--clr-tertiary);
  color: var(--clr-ntrl-min);
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  border-radius: 0 0 0 4px;
}

.cookie-card-back {
  transform: rotateY(180deg);
}

.cookie-card.card-flip .cookie-card-front {
  transform: rotateY(-180deg);
}

.cookie-card.card-flip .cookie-card-back {
  transform: rotateY(0);
}

.cookie-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 100px;
  height: 100px;
}

.cookie-image {
  width: 100%;
  height:100%; 
}

.cookie-name {
  color: var(--clr-base-f);
  display: inline-block;
  margin: 10px 0 20px;
  position: relative;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.cookie-name:after {
  content: '';
  height: 1px;
  background-color: var(--clr-base-f);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.ellipsis:hover {
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
  z-index: 1;
}

p1{
  color: var(--clr-base-f);
  text-align: center;
  font-style: italic;
  line-height: 24px;
}

.cookie-card-front-cta-container {
  display: inline-block;
  position: relative;
}

.cookie-card-front-cta-container:hover .cookie-card-front-cta:after {
  content: '';
  height: 1px;
  background-color: var(--clr-base-f);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.cookie-card-button {
  background: none;
  border: none;
  cursor: pointer;
}

.cookie-card-front-cta {
  color: var(--clr-base-f);
  font-size: var(--fs-smaller);
}

.cookie-card-back-cta {
  position: absolute;
  bottom: var(--fs-base);
}

.cookie-catalog-btn{
  margin-top: 40px;
}

@media (min-width: 768px) {
  .cookie-card {
    width: 200px;
  }
}