* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /** CSS VARIABLES **/
  /* our base color, with one tint, and one shade - body and typogaphry is generally the base colour */
  --clr-base-f:    hsl(0, 0%, 40%);

  /* primary brand color - blue - with shades and tints via HSL */
  --clr-primary:       hsl(190, 40%, 35%);
  --clr-primary-f-lt:  hsl(190, 40%, 75%);
  --clr-primary-f-dk:  hsl(190, 40%, 15%);
  --clr-primary-lt:    hsl(190, 40%, 50%);
  --clr-primary-ltr:   hsl(190, 40%, 75%);

  /* secondary brand color - yellow - with shades and tints via HSL */
  --clr-secondary:      hsl(50, 80%, 70%);
  --clr-secondary-f:    hsl(50, 80%, 20%);

  /* tertiary brand color - red - with shades and tints via HSL */
  --clr-tertiary:           hsla(0, 100%, 50%, 0.2);
  --clr-tertiary-f:    	    hsla(0, 100%, 80%, 1.0);
  --clr-tertiary-opacity: 	hsla(0, 33%, 50%, 0.8);
  --clr-tertiary-lt:        hsla(27.5, 60%, 50%, 1.0);
  --clr-tertiary-dk:        hsla(27.5, 60%, 30%, 1.0);

  /* neutrals */
  --clr-ntrl-min:       hsl(0, 0%, 100%);
  --clr-ntrl-mid:       hsl(0, 0%, 85%);
  --clr-ntrl-max:       hsl(0, 0%, 0%);
  --clr-opacity:        hsla(0, 0%, 0%, 0.3);
  --clr-shadow:         hsla(0, 0%, 0%, 0.2);
  --clr-transparent:    hsla(0, 0%, 0%, 0);

  /* base font size */
  --fs-base: 16px;

  /* larger than heading font sizes */
  --fs-big: 18px;
  --fs-bigger: 20px;
  --fs-biggest: 24px;

  /* heading font sizes */
  --fs-h1: 36px;
  --fs-h2: 24px;
  --fs-h3: 18px;

  /* smaller than heading font sizes */
  --fs-small: 14px;
  --fs-smaller: 12px;
  --fs-smallest:  10px;

  /* Responsiveness modififer */
  --fs-desktop: 8px;

  /* Font */
  --ff-primary: "Helvetica";
}

html {
  height: 100%;
  width: 100%;
}

main {
  border: 1px solid hsl(0, 0, 0, 0.1);
  box-shadow: 0px 0px 16px var(--clr-shadow);
  margin: 160px auto 0;
  max-width: 600px;
}

header {
  position: fixed;
  top: 0;
  background-color: var(--clr-primary);
  padding: 16px;
  width: 100%;
  z-index: 9999;
}

.close-img {
  width: 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--clr-ntrl-min);
}

.logo {
  font-family: var(--ff-primary);
  text-decoration: none;
  color: var(--clr-primary-f-lt);
}

h1 {
  font-size: var(--fs-h1);
  font-style: italic;
  font-weight: 900;
  line-height: 1.25;
}

h2 {
  color: var(--clr-ntrl-max);
  font-size: var(--fs-h2);
  line-height: 1.25;
  text-decoration: underline;
}

h3 {
  font-size: var(--fs-h3);
  line-height: 1.25;
}

p {
  font-size: var(--fs-base);
  letter-spacing: -0.04em;
  line-height: 1.5;
  color: var(--clr-base-f);
}

a {
  text-decoration: none;
  color: var(--clr-secondary-f);
  font-size: var(--fs-bigger);
}

li {
  list-style-type: none
}

.subheader {
  color: var(--clr-primary-f-dk);
  font-size: var(--fs-small);
  font-weight: bold;
  text-transform: uppercase;
}

/* .header-menu-link:hover {
  background: var(--clr-secondary);
} */

.button {
  background-color: var(--clr-secondary);
  box-shadow: 0px 1px 3px var(--clr-opacity);
  border: none;
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.button:hover {
  background: #4c4b17;
}

.button:hover .button-text {
  color: var(--clr-ntrl-min);
}

.button-text {
  color: var(--clr-secondary-f);
  font-family: var(--ff-primary);
}

.button-hover-underline {
  display: inline;
  position: relative;
  overflow: hidden;
}

.button-hover-underline:after {
  content: "";
  background-color: var(--clr-ntrl-min);
  position: absolute;
  right: 0;
  width: 0;
  bottom: -5px;
  height: 1px;
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.button:hover .button-hover-underline:after,
.button:focus .button-hover-underline:after,
.button:active .button-hover-underline:after {
  left: 0;
  right: 0;
  width: 100%;
}

footer {
  text-align: center;
  padding: var(--fs-base);
  background-color: var(--clr-ntrl-mid);
}

.white-text {
  color: var(--clr-ntrl-min);
}

.promo-banner {
  /* padding: 6px 50px 70px 20px; */
  /* position: relative; */
  height:100px;
  background-color: var(--clr-ntrl-mid);
  overflow: hidden;
  position: fixed;
  top: 3.7em;
  left: 0;
  width: 100%;
  z-index: 999;
}

.promo-banner-container {
  display: flex;
  justify-content: center;
  padding: 10px 30px 10px 30px;
}

.promo-banner-image {
  max-height: 70px;
  max-width: 70px;
  -webkit-filter: drop-shadow(5px 5px 5px var(--clr-tertiary-opacity));
  filter: drop-shadow(5px 5px 5px var(--clr-tertiary-opacity));
}

.navigation-btn {
  max-width: 200px;
  min-width: 160px;
  box-shadow: none;
  border-radius: 4px;
  padding: 5px 5px 5px 5px;
  background-color: var(--clr-transparent);
}

.navigation-btn:hover {
  color: var(--clr-primary-f-dk);
  background-color: var(--clr-secondary);
}

.ribbon-content {
  font-style:oblique;

}

.promo-cookie {
  color:var(--clr-primary-lt);
  -webkit-filter: drop-shadow(5px 0px 5px var(--clr-opacity));
  filter: drop-shadow(5px 0px 5px var(--clr-opacity));
  line-height: 0.8em;
}

@media (max-width: 1099px) {
  header {
    justify-content: space-between;
  }

  .logo {
    font-size: var(--fs-big);
  }

  #opacityLayer {
    background: var(--clr-opacity);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: transform 0.5s ease;
    visibility: hidden;
    width: 100%;
    height: 100%;
    z-index: 998;
  }

  #opacityLayer.opacity-on {
    visibility: visible;
    opacity: 1;
  }

  .menu-div.open {
    transform: translateX(0);
  }

  .menu-div {
    position: fixed;
    background: #fff;
    list-style: none;
    display: block;
    height: 100%;
    overflow-y: auto;
    top: 0;
    right: 0;
    padding: 0.25em 0.75em 1em 0.75em;
    transform: translateX(350px);
    transition: transform 0.5s;
    width: 275px;
    z-index: 999;
  }

  .nav-content {
    margin-top: 50px;
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    margin: 15px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .open-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .header-menu-link {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 16px;
    text-transform: uppercase;
    white-space: normal;
  }

  .button-text {
    font-size: var(--fs-base);
  }

  .promo-banner-content {
    text-align: center;
    min-width: 400px;
  }

  .promo-banner-ribbon {
    width: 400px;
    font-size: var(--fs-small);
    padding: 10px;
    position: absolute;
    right: -170px;
    top: 5px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(35deg);
    background-color: var(--clr-tertiary-f);
    box-shadow: 2px 2px 5px var(--clr-opacity);
    color: var(--clr-ntrl-min);
    z-index: 1;
  }

  .ribbon-content {
    font-size: var(--fs-smallest);
  }

}

/*DESKTOP STYLES*/
@media (min-width: 1100px) { 
  main {
    margin: 230px auto 0;
    max-width: 1250px;
  }

  header {
    justify-content: space-evenly;
    padding: 16px;
  }

  .nav-content {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .header-menu-link {
    color: var(--clr-ntrl-min);
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: var(--fs-big);
  }

  .button-text {
    font-size: var(--fs-big);
  }

  .close-btn {
    display: none;
  }
  
  .open-btn {
    display: none;
  }

  h1 {
    /* 36 + 12 = 48 */
    font-size: calc(var(--fs-h1) + var(--fs-desktop) * 1.5);
  }

  h2 {
    /* 24 + 8 = 32 */
    font-size: calc(var(--fs-h1) + var(--fs-desktop));
  }

  p {
    /* 16 + 8 = 24 */
    font-size: calc(var(--fs-base) + var(--fs-desktop));
  }

  .subheader {
    font-size: var();
  }

  .button {
    max-width: 225px;
  }
  
  .logo {
    font-size: var(--fs-biggest);
  }

  .promo-banner {
    top: 5.6em;
    height: fit-content;
  }

  .promo-banner-ribbon {
    width: 400px;
    font-size: var(--fs-small);
    padding: 10px;
    position: absolute;
    right: -140px;
    top: 15px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(30deg);
    background-color: var(--clr-tertiary-f);
    box-shadow: 2px 2px 5px var(--clr-opacity);
    color: var(--clr-ntrl-min);
    z-index: 1;
  }
  
  .promo-banner-content {
    padding: 0px 60px 0px 60px;
    text-align: center;
  }

  .promo-banner-container {
    padding: 20px 30px 20px 30px;
  }
}
