.hero {
  background-color: #F8F8F3;
  position: relative;
}

.hero-pic {
  background: url('../images/home/hero.jpg');
  background-size: cover;
  height: 315px;
}

.hero-content {
  background-color: #FFF;
  padding: 32px;
}

.hero-content p {
  margin: 16px 0;
}

.home-content {
  margin-bottom: 24px;
}

.home-copy h2 {
  margin-bottom: 16px;
}

.home-copy p {
  margin-bottom: 16px;
}

.home-copy p:last-of-type {
  margin-bottom: 0;
}

.home-btn-container .CTA-button {
  width: 100%;
}

.home-image {
  display: inline-block;
  max-width: 160px;
  width: 100%;
}

.hero-content, .cookie, .about-me {
  padding: 28px;
}

.cookie {
  background-color: #C7742E; 
}

.cookie .home-copy {
  margin-right: 72px;
}

.cookie .home-image {
  transform: rotateY(180deg);
}

.about-me {
  width: 100%;
}

.about-me .home-copy {
  margin-left: 72px;
}

/*DESKTOP STYLES*/
@media (min-width: 1100px) { 
  .hero-pic {
    height: 80vh;
    position: relative;
  }

  .hero-content {
    width: 33%;
    position: absolute;
    padding: 32px;
    bottom: 50px;
    left: 50px;
  }

  .cookie, .about-me {
    padding: 130px;
  }

  .home-content {
    margin: 0;
    max-width: 800px;
  }

  .home-copy {
    max-width: 420px;
    width: 100%;
  }

  .home-copy .CTA-button {
    margin-top: 40px;
  }

  .home-image {
    max-width: 248px;
  }

  .cookie .home-btn-container .CTA-button {
    margin-right: 400px;
  }

  .about-me-description {
    margin: 48px 0;
    max-width: 280px;
  }
  
  .about-me .home-btn-container .CTA-button{
    margin-left: 250px;
  }
}