.hide {
  display: none;
}

@media (max-width: 1099px) {
  .mobile-hide {
    display: none;
  }
}

@media (min-width: 1100px) {
  .desktop-hide {
    display: none;
  }
}

.full-container {
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.nowrap {
  flex-wrap: nowrap;
}

.flex {
  display: flex;
}

.fb-full {
  flex-basis: 100%;
}

.fb-half {
  flex-basis: 50%;
}

/*places text near bottom, vertical*/
.ai-fe {
  align-items: flex-end;
}

.ai-c {
  align-items: center;
}

.jc-se {
  justify-content: space-evenly;
}

.jc-sa {
  justify-content: space-around;
}
/*horizontal*/
.jc-sb {
  justify-content: space-between;
}

.jc-fe {
  justify-content: flex-end;
}

.jc-fs {
  justify-content: flex-start;
}
.js-c {
  justify-content: center;
}

.centered-container {
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
}
